apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sensor-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  tls:
  - hosts:
    - dev.sensors.brave.coop
    - staging.sensors.brave.coop
    - sensors.brave.coop
    secretName: sensors-tls
  rules:
  - host: dev.sensors.brave.coop
    http:
      paths:
      - backend:
          service:
            name: dev-sensor-server
            port:
              number: 8080
        path: /
        pathType: Prefix
  - host: staging.sensors.brave.coop
    http:
      paths:
      - backend:
          service:
            name: staging-sensor-server
            port:
              number: 8080
        path: /
        pathType: Prefix
  - host: sensors.brave.coop
    http:
      paths:
      - backend:
          service:
            name: production-sensor-server
            port:
              number: 8080
        path: /
        pathType: Prefix
