node_modules
.env
.vs
dump.rdb
.env.local

#ignore vscode settings
.vscode/

#ignore binary files
firmware/target/

#ignore my logs
*.log

#ignore PlatformIO config files
workspaceconfig.code-workspace
