dist: xenial

language: node_js
node_js: 'node' # node version specified in .nvmrc

# install dependencies
install:
  - npm ci
  - npm install pg@latest

# install Redis
services:
  - redis-server

addons:
  # install PostgreSQL
  postgresql: '12'
  apt:
    packages:
      - postgresql-12
      - postgresql-client-12
  # install Digital Ocean API CLI tool
  snaps:
    - doctl

# setup environment variables because Travis doesn't have a .env file
env:
  global:
    - WEB_USERNAME_TEST=TravisDashboardUsername
    - PASSWORD_TEST=TravisDashboardPassword
    - SECRET_TEST=TravisCookieSecret
    - PG_USER_TEST=brave
    - PG_DATABASE_TEST=brave
    - PG_PASSWORD_TEST=travispassword
    - PG_PORT_TEST=5433
    - PG_HOST_TEST=localhost
    - PG_USER=brave
    - PG_DATABASE=brave
    - PG_PASSWORD=travispassword
    - PG_PORT=5433
    - PG_HOST=localhost
    - REDIS_CLUSTER_IP_TEST=localhost
    - SESSION_RESET_THRESHOLD_TEST=2000
    - SUBSEQUENT_ALERT_MESSAGE_THRESHOLD_TEST=1000

    # TWILIO_SID_TEST (from https://www.twilio.com/console/voice/project/test-credentials)
    - secure: 'T4IjkoXVMFLcbq7livJ6HxATgk/q2znD4+BdFPn8cuNRc6QzBiNR7AZWoyhRrXqvBv3H3Mq5MIGPmYUW2HRXrihq3VLcp1ZRejXjv3CKqg518yi4JHax7hYesRUE9RoU8SXpOvEQknV9LnNbL030cL7kef1MLd+LepRMvo6B/+3/HuhjZHAmGOj93n8r7Ee1u/OzQDajXKbK0NhsE5HSMsKhwDQe+yyWZKerK1FDx35U4kjmj4kaafNYoLUNwr5S64avBI7kaA45TQ4h4BgPfHVLNwpI+9kVQpCc+wHnEVDd6FzAb3fp8PtYrT1W1hIe9A/+emX2QuMFtHHB6+PNUdPY4q+Wu6RJePcKVw9bWbsMFoAOJ8ZOyL7n/WxfP06FtLx9g8X/FyCNnbtKJlgd+NiIvV45s8QW6tG7/df7m2/FbmENl6++2JsV7HnVyuEITOe8wx/Evnr9Hzlh8zvDfQ3qY8Gb/BusQ7eSeaq/08yE+pZyTDCCh1lyfxaGBC1C6QV5QMwEHPq3U70MdhiXoSKV8Za2GhW96d5dA75yPPqqhc1/MDXZvOUAk/nNs/mzYhlQg2XbR8VML7aSTtP+zwX57kt/5DpXibIPl3wAnXMNhVNPYT3xPnzPRSEzUNAJI/f9qwOTK9eEzspumdqUAxkss5YoE5VWDMHPC4f3Hhk='
    # TWILIO_TOKEN_TEST (from https://www.twilio.com/console/voice/project/test-credentials)
    - secure: 'YXELSMATbhbhG7UhAq0hCfnrHFC0BPtHTE3yv/7NWe/fsw2uPz8QtSLYUhQ2+hMrCSqP1Z8e4l4J8w3tIZA7vpT6W3kHIT19HGjATs0GQEjVynQfPbNitb5WJu1AZmEuoGlbPx85hC8pHNtW0Q15qM3OWh4M9i0sk3XdQ5QRZwlAsdicbgvXRLds3W71Pi/FiTuVCbWtW7la3UMo0YwZTYXECLr4OYkmBsDTKvCpxRRLmgNE+nj/cIYAVDo+/K5sCdi+1sHLtFrqBogKQyiT0oQe1rjNQ03aA4+gSs1sFNJGPoff7jyqSRqAA/IamDUPbqqcOFhUEhskxNa0VBG7CVasVAIsIIZg0wnbR+nMhQm0ZeZBInXZKprtBV0aag10uN+p/lZDwwQHu0RmPv+6vzdJ8Q5AQAPOL6c272YOXYxcA2ft7jRM3S+i48w8qfFWuP4pCcUW4BrTI7snJe2MQcNCT9S2GeNv2EVFr1Or3gFN+xTMQSKXApaWvV4IE2ETc9AtJ3VjSUltqAGyeaBqDoisO6w4t0o1iyRJUkhmCt+TbYQ1R4ks6eDYstSmDQVa2UNh4DLvQhmv5u+78s9B0+SN5fEIx3d9Pl7XsYZQR/eKXzaAEFqfL/M9wUs2XX3oKwzcnsfzQUZDqgzxp3DccNUGSlo4MNTJ5hTgPRBH5Zs='
    - PGVER=12
    - PGPORT=5433
    # DIGITALOCEAN_ACCESS_TOKEN (from the service user's account and https://cloud.digitalocean.com/account/api/tokens)
    - secure: 'WTkzux5DqTQ8NZJ+SENyl5PB0W7+Tg1m1hSLZ828zmG2vY/ae81x4e8719APZUnWcRmnOoFp/PJfKQ/+23F9n2UZCWsn8TupgVApCd7mXb9uTsx9l0slbrD3Xcaem0Cwa65QRjMYaVm/ywLoK3GS+CqA8VtkMBQCHIWYopWaZZyT62KS+PELX4xhM33BW7qLnEONsUaHPefECj+8gIxrULVdkvVxN9lyzH2BBX/MlJMg+dtl6+zO3VcckQJsEZEpFzGK7Lq9t03TYjPZALnaQncA/7xOtW20TslTH+XghaZ7PLVLlY36PCgj+a6DlLuJJ9zxaLHdvFFKY8SN6BKgJh9oJ8sHW2PJnuxZQgB+5SN0W5I2AfnlwzlZcnyKtQgwTQSC3wjorDAbp4OB0tRevBmyQDhGc96KsYam0fP70MtyCTxVwth7TCaUWznXwDhfStKOHuvwrFF0g1dfhSRKEZbLP4LcFljNYFpDcEMKrQKAPXhHSNpJUTyxgy3xlrYKdYVzk9SRkOZWTw0pDHkL3Ya1nHEFMs3SAo9wZ8o6KmcZdlXjamRo9SpossjCykTosuUegQ72IXgZ25gB7Q4trz+liqp/HKBgZpFNmR0V8gAXPM4cxyBZBo7jMxdIRWJ513C1EcY7HVF+zs6bOlivxzZ3tbOWLvZ4EBJVgcT2Pi0='

before_script:
  - bash setup_postgresql_local.sh

jobs:
  include:
    # Run linting, unit tests, and integration tests
    - stage: test
      script:
        - npm run lint
        - sudo env "PATH=$PATH" npm test
    # If all the test stage passes, then pushes the Docker container to DO
    - stage: 'push container'
      script:
        - doctl auth init --access-token $DIGITALOCEAN_ACCESS_TOKEN
        - sudo snap connect doctl:dot-docker
        - ./build.sh
